page,html,body{
    height: 100%;
    width: 100%;
    margin: 0;

}


page{
    font-size: 450px;
    position: absolute;
    padding-top: 65% ;
    padding-left: 55%

}

#chun{
    background-image: url("../img/2.jpg");
    background-size: 100% 100%;
    animation: chun 10s infinite;
}

#xia{
    background: green;
    animation: xia 10s infinite;
}

#qiu{
    background: coral;
    animation: qiu 10s infinite;
}

#dong{
    background-image: url("../img/3.jpg");
    background-size: 100% 100%;
    animation: dong 10s infinite;
}

#zhen{
    font-size: 100px;
    display: block;
    animation: zhen 10s infinite;
}








@keyframes chun {
    0%{opacity: 0}
    20%{opacity: 100}
    40%{opacity: 0}
    100%{opacity: 0}
}

@keyframes xia {
    0%{opacity: 0}
    20%{opacity: 0}
    40%{opacity: 100}
    60%{opacity: 0}
    100%{opacity: 0}
}

@keyframes qiu {
    0%{opacity: 0}
    40%{opacity: 0}
    60%{opacity: 100}
    80%{opacity: 0}
    100%{opacity: 0}
}

@keyframes dong {
    0%{opacity: 0}
    60%{opacity: 0}
    80%{opacity: 100}
    100%{opacity: 0}
}

@keyframes zhen {
    0%{opacity: 0}
    60%{opacity: 0}
    70%{opacity: 0}
    80%{opacity: 100}
    90%{opacity: 0}
    100%{opacity: 0}
}